* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "roboto";
  color: #45474b;
  font-weight: 500;
  background-color: #834e2e;
}
#app {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #000;
  background-color: #f4ce14;
}
#container {
  position: relative;
}
/* .player {
} */
.player__bg {
  width: 120px;
  height: auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.player__img {
  position: absolute;
  top: 8px;
  left: 50%;
  width: 70px;
  height: auto;
  object-fit: contain;
  z-index: 2;
  transform: translateX(-50%);
}
/* .background {
  margin-top: 70px;
} */
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}
.header__stength {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: #65b741;
  z-index: 3;
  opacity: 0;
  text-shadow: 1px 1px #000;
  transition: opacity 0.2s linear;
}
.header__number {
  color: #008000;
}
/* .header__target-title {
} */

.header__target-number {
  color: #ff0000;
  font-size: 18px;
}
@keyframes pushLeft {
  from {
    transform: translate(10px, 10px);
  }
  to {
    transform: translate(10px, 0);
    transform: translate(-14px, 0);
    transform: translate(-146px, -6px);
    opacity: 0;
  }
  /* 0% {
    top: 25%;
  }
  25% {
    top: 18%;
  }
  45% {
    top: 14%;
  }
  50% {
    top: 14%;
    left: 140px;
  }
  60% {
    top: 14%;
    left: 120px;
  }
  70% {
    top: 14%;
    left: 100px;
  }
  80% {
    top: 14%;
    left: 80px;
  }
  90% {
    top: 14%;
    left: 60px;
  }
  100% {
    top: 14%;
    left: 40px;
    opacity: 0;
  } */
}
.header__bonus {
  position: absolute;
  top: 25%;
  left: 200px;
  color: #65b741;
  font-size: 24px;
  opacity: 0;
}
.header__bonus.active {
  opacity: 1;
  animation: pushLeft 1s linear;
}
.header__stength.active {
  opacity: 1;
}
.header__left {
  margin-left: 18px;
}
.header__right {
  display: flex;
  gap: 32px;
}
.header__exit {
  position: relative;
  display: inline-block;
  padding: 2px 15px;
  cursor: pointer;
  background: #f5f7f8;
  border: 1px solid #495e57;
  outline: none;
  border-radius: 6px;
  z-index: 2;
}
.header__exit:active {
  transform: translateY(4px);
  transition: transform 0.2s linear;
}
.header__right-wrapper {
  margin-right: 18px;
}
.hook-wire {
  position: absolute;
  top: 54px;
  left: 48.4%;
  width: 2.6px;
  height: 20px;
  z-index: 2;
  transform-origin: top center;
  background-color: #5f3926;
}
.hook {
  position: absolute;
  top: 100%;
  right: -38.3px;
  transform: rotate(2.6deg);
  width: 80px;
}
.hook.small {
  top: 100%;
  right: -23px;
  width: 50px;
}
.hook.small-medium {
  top: 100%;
  right: -33px;
  width: 70px;
}
.hook.medium {
  top: 100%;
  right: -36px;
  width: 70px;
}
.hook.large {
  top: 100%;
  right: -40px;
  width: 80px;
}
.start-line {
  position: relative;
  z-index: 2;
  height: 2px;
  background-color: #000;
}
.background {
  padding-top: 100%;
  position: relative;
  background-image: url("../public/images/background_1_out.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
.item {
  position: absolute;
  top: 30%;
  left: 46%;
}
/* Item */
.stone-1 {
  background-repeat: no-repeat;
  background-image: url("../public/images/da_1.png");
  width: 50px;
  height: 50px;
  background-size: contain;
}
.stone-2 {
  background-repeat: no-repeat;
  background-image: url("../public/images/da_2.png");
  width: 38px;
  height: 38px;
  background-size: contain;
}
.gold-4 {
  background-repeat: no-repeat;
  background-image: url("../public/images/vang_1.png");
  width: 80px;
  height: 80px;
  background-size: contain;
}
.gold-3 {
  background-repeat: no-repeat;
  background-image: url("../public/images/vang_2.png");
  width: 70px;
  height: 70px;
  background-size: contain;
}
.gold-2 {
  background-repeat: no-repeat;
  background-image: url("../public/images/vang_3.png");
  width: 32px;
  height: 32px;
  background-size: contain;
}
.gold-1 {
  background-repeat: no-repeat;
  background-image: url("../public/images/vang_4.png");
  width: 18px;
  height: 18px;
  background-size: contain;
}
.mystery-bag {
  background-repeat: no-repeat;
  background-image: url("../public/images/mysteryBag.png");
  width: 46px;
  height: 46px;
  background-size: contain;
}
/* End */
.item__img {
  width: 30px;
  height: auto;
  object-fit: contain;
}
.items {
  padding-left: 331px;
  margin-top: 38px;
}
.gunpowder {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../public/images/mine_out.png");
  width: 22px;
  height: 34px;
  background-size: contain;
}
.start {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s linear;
}
.miner {
  position: absolute;
  top: 0;
  right: 300px;
  background-repeat: no-repeat;
  background-image: url("../public/images/startMenu_out.png");
  width: 680px;
  height: 680px;
  background-size: contain;
}
.gold {
  position: absolute;
  top: 5rem;
  left: 2rem;
  background-repeat: no-repeat;
  background-image: url("../public/images/vang_1.png");
  width: 250px;
  height: 250px;
  background-size: contain;
}
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.gold-blur {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 300px;
  height: 300px;
  background-color: #eedd00;
  opacity: 0.8;
  border-radius: 50rem;
  filter: blur(50px);
  animation: zoomIn 2s linear infinite;
}
.play {
  position: absolute;
  top: 9rem;
  left: 7rem;
  font-size: 32px;
  color: #eedd00;
  font-weight: 600;
  text-shadow: 2px 2px #000;
  cursor: pointer;
  padding: 18px;
  user-select: none;
}
.guide {
  position: absolute;
  bottom: -6rem;
  left: 14rem;
  background-repeat: no-repeat;
  background-image: url("../public/images/huongdan_out.png");
  width: 300px;
  height: 300px;
  background-size: contain;
}
.show {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-image: url("../public/images/show_target-removebg.png");
  background-repeat: no-repeat;
  background-size: 75% 100%;
  background-position: top center;
  z-index: 999;
  opacity: 1;
  transition: opacity 1s linear;
}
.show__target {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  padding: 64px 44px 30px 44px;
  display: inline-block;
  border-radius: 8px;
  border: 6px solid #e68200e6;
  color: #eedd00;
  background-color: #9b4e00;
  user-select: none;
  animation: scaleOut 1s linear;
}
.show__target-number {
  color: #07c800;
  display: block;
  text-align: center;
  margin-top: 24px;
}
.show__target-title {
  text-align: center;
  padding: 0;
}
.store {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-image: url("../public/images/store_background.jpg");
  background-repeat: no-repeat;
  opacity: 0;
  display: none;
  /* transition: opacity 1s linear; */
}
.store__container {
  width: 800px;
  height: auto;
  margin: 0 auto;
}
.hidden-item {
  pointer-events: none;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 64px;
  margin-top: 64px;
}
.title__text {
  background-repeat: no-repeat;
  width: 100%;
  height: 64px;
  object-fit: contain;
  background-image: url("../public/images/store_title.png");
}
.title__next-game {
  display: inline-block;
  background-color: #006600;
  color: #00fc00;
  border: 3px solid #0a4903;
  text-decoration: none;
  min-width: 150px;
  height: 50px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 50px;
}
.title__next-game:hover {
  opacity: 0.8;
}
.main {
  margin-top: 100px;
}
.store__list {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 24px;
}
.store__list-item {
  position: relative;
  bottom: 22px;
  width: 70px;
  height:70px;
  background-size: contain;
  background-repeat: no-repeat;
}
.store__list-item:hover {
  cursor: pointer;
}
.store__list-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 54px;
}
.store__list-item.tnt {
  background-image: url("../public/images/mine_out.png");
}
.store__list-item.clover {
  background-image: url("../public/images/clover_out.png");
}
.store__list-item-price {
  position: absolute;
  top: calc(100% + 20px);
  left: 0;
  color: #0C9B06;
  font-size: 1.7rem;
  user-select: none;
}
.trader {
  position: relative;
  background-image: url("../public/images/trader-removebg.png");
  width: 162px;
  height: 164px;
  background-size: contain;
  background-position: top center;
}
.trader.happy{
  background-image: url("../public/images/traderSmile-removebg.png");
}
.trader.unhappy{
  background-image: url("../public/images/traderAngry-removebg.png");
}
.trader__chat {
  position: absolute;
  bottom: 50%;
  right: -8px;
  background-image: url("../public/images/chat_out.png");
  background-repeat: no-repeat;
  width: 800px;
  height: 200px;
  transform: scale(0.6);
  margin-left: auto;
}
.trader__chat-text {
  position: absolute;
  bottom: 50%;
  left: 0;
  text-align: center;
  font-size: 2rem;
}
.store__table {
  width: 100%;
  height: 100vh;
  background-image: url("../public/images/table.png");
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}
